<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}}</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    {{{content}}}
    <script src="/js/main.js"></script>
  </body>
</html>